<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the auditor_init() hook (in hooks/auditor.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="auditor-auditor_id-<%%VALUE(auditor_id)%%>" class="auditor-auditor_id text-right"><%%SELECT%%><%%VALUE(auditor_id)%%><%%ENDSELECT%%></td>
		<td id="auditor-res_id-<%%VALUE(auditor_id)%%>" class="auditor-res_id text-right"><%%SELECT%%><%%VALUE(res_id)%%><%%ENDSELECT%%></td>
		<td id="auditor-username-<%%VALUE(auditor_id)%%>" class="auditor-username"><%%SELECT%%><%%VALUE(username)%%><%%ENDSELECT%%></td>
		<td id="auditor-ipaddr-<%%VALUE(auditor_id)%%>" class="auditor-ipaddr"><%%SELECT%%><%%VALUE(ipaddr)%%><%%ENDSELECT%%></td>
		<td id="auditor-time_stmp-<%%VALUE(auditor_id)%%>" class="auditor-time_stmp"><%%SELECT%%><%%VALUE(time_stmp)%%><%%ENDSELECT%%></td>
		<td id="auditor-change_type-<%%VALUE(auditor_id)%%>" class="auditor-change_type"><%%SELECT%%><%%VALUE(change_type)%%><%%ENDSELECT%%></td>
		<td id="auditor-table_name-<%%VALUE(auditor_id)%%>" class="auditor-table_name"><%%SELECT%%><%%VALUE(table_name)%%><%%ENDSELECT%%></td>
		<td id="auditor-fieldName-<%%VALUE(auditor_id)%%>" class="auditor-fieldName"><%%SELECT%%><%%VALUE(fieldName)%%><%%ENDSELECT%%></td>
		<td id="auditor-OldValue-<%%VALUE(auditor_id)%%>" class="auditor-OldValue"><%%SELECT%%><%%VALUE(OldValue)%%><%%ENDSELECT%%></td>
		<td id="auditor-NewValue-<%%VALUE(auditor_id)%%>" class="auditor-NewValue"><%%SELECT%%><%%VALUE(NewValue)%%><%%ENDSELECT%%></td>
