<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the authorizations_init() hook (in hooks/authorizations.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="authorizations-authorize_id-<%%VALUE(authorize_id)%%>" class="authorizations-authorize_id text-right"><%%VALUE(authorize_id)%%></td>
		<td id="authorizations-job_code-<%%VALUE(authorize_id)%%>" class="authorizations-job_code"><%%VALUE(job_code)%%></td>
		<td id="authorizations-job_status-<%%VALUE(authorize_id)%%>" class="authorizations-job_status"><%%VALUE(job_status)%%></td>
		<td id="authorizations-job_status_date-<%%VALUE(authorize_id)%%>" class="authorizations-job_status_date"><%%VALUE(job_status_date)%%></td>
		<td id="authorizations-job_status_age-<%%VALUE(authorize_id)%%>" class="authorizations-job_status_age"><%%VALUE(job_status_age)%%></td>
		<td id="authorizations-job_age-<%%VALUE(authorize_id)%%>" class="authorizations-job_age"><%%VALUE(job_age)%%></td>
		<td id="authorizations-job_category-<%%VALUE(authorize_id)%%>" class="authorizations-job_category"><%%VALUE(job_category)%%></td>
		<td id="authorizations-job_odometer-<%%VALUE(authorize_id)%%>" class="authorizations-job_odometer"><%%VALUE(job_odometer)%%></td>
		<td id="authorizations-instruction_note-<%%VALUE(authorize_id)%%>" class="authorizations-instruction_note"><%%VALUE(instruction_note)%%></td>
		<td id="authorizations-pre_authorisation_date-<%%VALUE(authorize_id)%%>" class="authorizations-pre_authorisation_date"><%%VALUE(pre_authorisation_date)%%></td>
		<td id="authorizations-authorisation_date-<%%VALUE(authorize_id)%%>" class="authorizations-authorisation_date"><%%VALUE(authorisation_date)%%></td>
		<td id="authorizations-vehicle_registration_number-<%%VALUE(authorize_id)%%>" class="authorizations-vehicle_registration_number"><%%VALUE(vehicle_registration_number)%%></td>
		<td id="authorizations-make_of_vehicle-<%%VALUE(authorize_id)%%>" class="authorizations-make_of_vehicle"><%%VALUE(make_of_vehicle)%%></td>
		<td id="authorizations-client-<%%VALUE(authorize_id)%%>" class="authorizations-client"><%%VALUE(client)%%></td>
		<td id="authorizations-province_name-<%%VALUE(authorize_id)%%>" class="authorizations-province_name"><%%VALUE(province_name)%%></td>
		<td id="authorizations-merchant_code-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_code"><%%VALUE(merchant_code)%%></td>
		<td id="authorizations-merchant_name-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_name"><%%VALUE(merchant_name)%%></td>
		<td id="authorizations-merchant_contact_email-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_contact_email"><%%VALUE(merchant_contact_email)%%></td>
		<td id="authorizations-merchant_street_address-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_street_address"><%%VALUE(merchant_street_address)%%></td>
		<td id="authorizations-merchant_suburb-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_suburb"><%%VALUE(merchant_suburb)%%></td>
		<td id="authorizations-merchant_city-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_city"><%%VALUE(merchant_city)%%></td>
		<td id="authorizations-merchant_address_code-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_address_code"><%%VALUE(merchant_address_code)%%></td>
		<td id="authorizations-merchant_contact_details-<%%VALUE(authorize_id)%%>" class="authorizations-merchant_contact_details"><%%VALUE(merchant_contact_details)%%></td>
		<td id="authorizations-total_claim-<%%VALUE(authorize_id)%%>" class="authorizations-total_claim"><%%VALUE(total_claim)%%></td>
		<td id="authorizations-total_authorised-<%%VALUE(authorize_id)%%>" class="authorizations-total_authorised"><%%VALUE(total_authorised)%%></td>
		<td id="authorizations-authorization_number-<%%VALUE(authorize_id)%%>" class="authorizations-authorization_number"><%%VALUE(authorization_number)%%></td>
		<td id="authorizations-last_fuel_transaction_date-<%%VALUE(authorize_id)%%>" class="authorizations-last_fuel_transaction_date"><%%VALUE(last_fuel_transaction_date)%%></td>
		<td id="authorizations-external_repairs-<%%VALUE(authorize_id)%%>" class="authorizations-external_repairs"><%%VALUE(external_repairs)%%></td>
