<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the billing_init() hook (in hooks/billing.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="billing-billing_id-<%%VALUE(billing_id)%%>" class="billing-billing_id text-right"><%%VALUE(billing_id)%%></td>
		<td id="billing-district-<%%VALUE(billing_id)%%>" class="billing-district"><%%VALUE(district)%%></td>
		<td id="billing-location-<%%VALUE(billing_id)%%>" class="billing-location"><%%VALUE(location)%%></td>
		<td id="billing-upload_invoice-<%%VALUE(billing_id)%%>" class="billing-upload_invoice"><a href="link.php?t=billing&f=upload_invoice&i=<%%VALUE(billing_id)%%>" target="_blank" title="<%%VALUE(upload_invoice)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<td id="billing-job_card_number-<%%VALUE(billing_id)%%>" class="billing-job_card_number"><%%VALUE(job_card_number)%%></td>
		<td id="billing-invoice_date-<%%VALUE(billing_id)%%>" class="billing-invoice_date"><%%VALUE(invoice_date)%%></td>
		<td id="billing-maintenance_file-<%%VALUE(billing_id)%%>" class="billing-maintenance_file"><%%VALUE(maintenance_file)%%></td>
		<td id="billing-vehicle_registration_number-<%%VALUE(billing_id)%%>" class="billing-vehicle_registration_number"><%%VALUE(vehicle_registration_number)%%></td>
		<td id="billing-engine_number-<%%VALUE(billing_id)%%>" class="billing-engine_number"><%%VALUE(engine_number)%%></td>
		<td id="billing-make_of_vehicle-<%%VALUE(billing_id)%%>" class="billing-make_of_vehicle"><%%VALUE(make_of_vehicle)%%></td>
		<script>$j(function() {
			var e_upload_invoice = '<%%VALUE(upload_invoice)%%>'; if(e_upload_invoice == '' || e_upload_invoice == '&nbsp;') $j(/*<*/ '#billing-upload_invoice-<%%VALUE(billing_id)%%>' /*>*/).html('');
		});</script>
