<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Claim ID: -->
		<div class="form-group claim-claim_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Claim ID:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(claim_id)%%></div>
			</div>
		</div>
		<!-- Field: Claims Code: -->
		<div class="form-group claim-claim_code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Claims Code:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(claim_code)%%></div>
			</div>
		</div>
		<!-- Field: Claim Status: -->
		<div class="form-group claim-claim_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Claim Status:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="claim_status<%%RND1%%>"><%%COMBOTEXT(claim_status)%%></span></div>
			</div>
		</div>
		<!-- Field: Claim Category: -->
		<div class="form-group claim-claim_category" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Claim Category:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="claim_category<%%RND1%%>"><%%COMBOTEXT(claim_category)%%></span></div>
			</div>
		</div>
		<!-- Field: Cost Centre -->
		<div class="form-group claim-cost_centre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cost Centre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="cost_centre<%%RND1%%>"><%%COMBOTEXT(cost_centre)%%></span></div>
			</div>
		</div>
		<!-- Field: Client Identification: -->
		<div class="form-group claim-client_identification" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Client Identification:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(client_identification)%%></div>
			</div>
		</div>
		<!-- Field: Department Name: -->
		<div class="form-group claim-department_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Department Name:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="department_name<%%RND1%%>"><%%COMBOTEXT(department_name)%%></span></div>
			</div>
		</div>
		<!-- Field: District: -->
		<div class="form-group claim-district" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="district<%%RND1%%>"><%%COMBOTEXT(district)%%></span></div>
			</div>
		</div>
		<!-- Field: Province Name: -->
		<div class="form-group claim-province" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Province Name:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="province<%%RND1%%>"><%%COMBOTEXT(province)%%></span></div>
			</div>
		</div>
		<!-- Field: Merchant Name: -->
		<div class="form-group claim-merchant_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Name:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="merchant_name<%%RND1%%>"><%%COMBOTEXT(merchant_name)%%></span></div>
			</div>
		</div>
		<!-- Field: Vehicle Registration Number: -->
		<div class="form-group claim-vehicle_registration_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vehicle Registration Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vehicle_registration_number<%%RND1%%>"><%%COMBOTEXT(vehicle_registration_number)%%></span></div>
			</div>
		</div>
		<!-- Field: Model: -->
		<div class="form-group claim-model" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Model:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="model<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Closing km: -->
		<div class="form-group claim-closing_km" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Closing km:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="closing_km<%%RND1%%>"><%%COMBOTEXT(closing_km)%%></span></div>
			</div>
		</div>
		<!-- Field: Pre Authorization Date: -->
		<div class="form-group claim-pre_authorization_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Pre Authorization Date:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(pre_authorization_date)%%></div>
			</div>
		</div>
		<!-- Field: Instruction Note: -->
		<div class="form-group claim-instruction_note" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Instruction Note:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(instruction_note)%%></div>
			</div>
		</div>
		<!-- Field: Invoice Date: -->
		<div class="form-group claim-invoice_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Invoice Date:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(invoice_date)%%></div>
			</div>
		</div>
		<!-- Field: Documents (Upload Invoice): -->
		<div class="form-group claim-upload_invoice" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Documents (Upload Invoice):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="upload_invoice-link" href="link.php?t=claim&f=upload_invoice&i=<%%VALUE(claim_id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-file" title="<%%VALUE(upload_invoice)%%>"></i></a><script>jQuery(function() { var e_upload_invoice = '<%%VALUE(upload_invoice)%%>'; if(e_upload_invoice == '' || e_upload_invoice == '&nbsp;' || e_upload_invoice == 'blank.gif') jQuery('#upload_invoice-link').hide(); });</script></div>
			</div>
		</div>
		<!-- Field: Payment Date: -->
		<div class="form-group claim-payment_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Payment Date:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(payment_date)%%></div>
			</div>
		</div>
		<!-- Field: Authorization Number: -->
		<div class="form-group claim-authorization_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Authorization Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(authorization_number)%%></div>
			</div>
		</div>
		<!-- Field: Clearance Number: -->
		<div class="form-group claim-clearance_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Clearance Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(clearance_number)%%></div>
			</div>
		</div>
		<!-- Field: Vehicle Collected Date: -->
		<div class="form-group claim-vehicle_collected_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vehicle Collected Date:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(vehicle_collected_date)%%></div>
			</div>
		</div>
		<!-- Field: Total Claimed (R): -->
		<div class="form-group claim-total_claimed" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Total Claimed (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(total_claimed)%%></div>
			</div>
		</div>
		<!-- Field: Total Authorized (R): -->
		<div class="form-group claim-total_authorized" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Total Authorized (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(total_authorized)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="claim-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=claim-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'claim',
				SelectedID: '<%%VALUE(claim_id)%%>',
				Operation: 'show-children-printable'
			},
			'claim-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

