<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the departments_init() hook (in hooks/departments.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="departments-department_id-<%%VALUE(department_id)%%>" class="departments-department_id text-right"><%%VALUE(department_id)%%></td>
		<td id="departments-department_name-<%%VALUE(department_id)%%>" class="departments-department_name"><%%VALUE(department_name)%%></td>
