<!-- To change the layout of the detail view form, we recommend using JS code in hooks/districts-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="districts_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="districts_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
		<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="gmt_fleet_register_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="gmt_fleet_register_link"><i class="glyphicon glyphicon-list-alt"></i> GMT Fleet Register:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="gmt_fleet_register_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="xs_gmt_fleet_register_link"><i class="glyphicon glyphicon-list-alt"></i> GMT Fleet Register:</a>
			<input type="hidden" id="gmt_fleet_register_hclink" value="gmt_fleet_register_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="accidents_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="accidents_link"><i class="glyphicon glyphicon-warning-sign"></i> Accident:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="accidents_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="xs_accidents_link"><i class="glyphicon glyphicon-warning-sign"></i> Accident:</a>
			<input type="hidden" id="accidents_hclink" value="accidents_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="claim_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="claim_link"><i class="glyphicon glyphicon-compressed"></i> Claims:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="claim_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="xs_claim_link"><i class="glyphicon glyphicon-compressed"></i> Claims:</a>
			<input type="hidden" id="claim_hclink" value="claim_view.php?filterer_district=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="modification_to_vehicle_view.php?filterer_districts=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="modification_to_vehicle_link"><i class="glyphicon glyphicon-scissors"></i> Modification to Vehicle:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="modification_to_vehicle_view.php?filterer_districts=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="xs_modification_to_vehicle_link"><i class="glyphicon glyphicon-scissors"></i> Modification to Vehicle:</a>
			<input type="hidden" id="modification_to_vehicle_hclink" value="modification_to_vehicle_view.php?filterer_districts=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="reception_hclink" value="reception_view.php?filterer_workshop_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="work_allocation_hclink" value="work_allocation_view.php?filterer_workshop_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="internal_repairs_mechanical_hclink" value="internal_repairs_mechanical_view.php?filterer_workshop_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="internal_repairs_body_view.php?filterer_government_garage_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="internal_repairs_body_link"><i class="glyphicon glyphicon-sort-by-alphabet"></i> Internal Repairs Body:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="internal_repairs_body_view.php?filterer_government_garage_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>" id="xs_internal_repairs_body_link"><i class="glyphicon glyphicon-sort-by-alphabet"></i> Internal Repairs Body:</a>
			<input type="hidden" id="internal_repairs_body_hclink" value="internal_repairs_body_view.php?filterer_government_garage_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="ordering_of_spares_for_internal_repairs_hclink" value="ordering_of_spares_for_internal_repairs_view.php?filterer_workshop_name=<%%URLVALUE(district_id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="districts_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: District ID: -->
				<div class="form-group districts-district_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="district_id">District ID:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="district_id"><%%VALUE(district_id)%%></div>
					</div>
				</div>

				<!-- Field: District: -->
				<div class="form-group districts-district">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="district">District: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#district-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="district-description"><div class="alert alert-info bspacer-xs">Capture the district and stations detail</div></span>
						<input maxlength="40" type="text" class="form-control" name="district" id="district" value="<%%VALUE(district)%%>">
					</div>
				</div>

				<!-- Field: Government Garage/Station/Unit: -->
				<div class="form-group districts-station">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="station">Government Garage/Station/Unit: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#station-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="station-description"><div class="alert alert-info bspacer-xs">Define if it is a Government Garage, Station or Unit</div></span>
						<input maxlength="40" type="text" class="form-control" name="station" id="station" value="<%%VALUE(station)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="districts_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="districts-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}


			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#districts_dv_container-loading').addClass('hidden');
			$j('#districts_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('districts', 'district');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'districts',
						SelectedID: '<%%VALUE(district_id)%%>',
						Operation: 'show-children'
					},
					'districts-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'districts',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=districts&id=<%%URLVALUE(district_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=districts&id=<%%URLVALUE(district_id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>