<!-- To change the layout of the detail view form, we recommend using JS code in hooks/general_control_measures-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="general_control_measures_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="general_control_measures_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="general_control_measures_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: General Control Measures ID: -->
				<div class="form-group general_control_measures-general_control_measures_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="general_control_measures_id">General Control Measures ID:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="general_control_measures_id"><%%VALUE(general_control_measures_id)%%></div>
					</div>
				</div>

				<!-- Field: District: -->
				<div class="form-group general_control_measures-district">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="district" data-parent_link="view_parent_modal">District: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#district-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="district-description"><div class="alert alert-info bspacer-xs">Capture the district and stations detail</div></span>
						<div class="lookup-flex"><%%COMBO(district)%%><%%PLINK(district)%%><%%ADDNEW(districts)%%></div>
					</div>
				</div>

				<!-- Field: Cost Centre: -->
				<div class="form-group general_control_measures-cost_centre">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="cost_centre" data-parent_link="view_parent_modal">Cost Centre:</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(cost_centre)%%><%%PLINK(cost_centre)%%><%%ADDNEW(cost_centre)%%></div>
					</div>
				</div>

				<!-- Field: Station: -->
				<div class="form-group general_control_measures-location">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Station:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="location"></div>
					</div>
				</div>

				<!-- Field: Government Garage Name: -->
				<div class="form-group general_control_measures-government_garage_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_name">Government Garage Name:</label>
					<div class="col-lg-9">
						<input maxlength="11" type="text" class="form-control" name="government_garage_name" id="government_garage_name" value="<%%VALUE(government_garage_name)%%>">
					</div>
				</div>

				<!-- Field: Government Garage Section: -->
				<div class="form-group general_control_measures-government_garage_section">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_section">Government Garage Section:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="government_garage_section" id="government_garage_section" value="<%%VALUE(government_garage_section)%%>">
					</div>
				</div>

				<!-- Field: Manager Name & Surname: -->
				<div class="form-group general_control_measures-government_garage_manager_name_and_surname">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_manager_name_and_surname">Manager Name & Surname:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="government_garage_manager_name_and_surname" id="government_garage_manager_name_and_surname" value="<%%VALUE(government_garage_manager_name_and_surname)%%>">
					</div>
				</div>

				<!-- Field: Government Garage Manager Contact Details: -->
				<div class="form-group general_control_measures-government_garage_manager_contact_details">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_manager_contact_details">Government Garage Manager Contact Details:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="government_garage_manager_contact_details" id="government_garage_manager_contact_details" value="<%%VALUE(government_garage_manager_contact_details)%%>">
					</div>
				</div>

				<!-- Field: Government Garage Manager Email Address: -->
				<div class="form-group general_control_measures-government_garage_manager_email_address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_manager_email_address-edit-link">Government Garage Manager Email Address:</label>
					<div class="col-lg-9">
						<div>
							<a id="government_garage_manager_email_address-link" href="mailto:<%%VALUE(government_garage_manager_email_address)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-envelope text-info" title="<%%VALUE(government_garage_manager_email_address)%%>"></i></a>
							<label for="government_garage_manager_email_address"><button type="button" id="government_garage_manager_email_address-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#government_garage_manager_email_address" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							<input maxlength="40" type="text" class="form-control collapse" name="government_garage_manager_email_address" id="government_garage_manager_email_address" value="<%%VALUE(government_garage_manager_email_address)%%>">
						</div><script>jQuery(function() { var e_government_garage_manager_email_address = '<%%VALUE(government_garage_manager_email_address)%%>'; if(e_government_garage_manager_email_address == '' || e_government_garage_manager_email_address == '&nbsp;' || e_government_garage_manager_email_address == 'blank.gif') jQuery('#government_garage_manager_email_address-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Government Garage Manager Signature: -->
				<div class="form-group general_control_measures-government_garage_manager_signature">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Government Garage Manager Signature: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#government_garage_manager_signature-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="government_garage_manager_signature-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 500 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(government_garage_manager_signature)%%>
								<%%REMOVEFILE(government_garage_manager_signature)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_government_garage_manager_signature = '<%%VALUE(government_garage_manager_signature)%%>'; if(e_government_garage_manager_signature == '' || e_government_garage_manager_signature == '&nbsp;' || e_government_garage_manager_signature == 'blank.gif') jQuery('#government_garage_manager_signature-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Government Garage Address: -->
				<div class="form-group general_control_measures-government_garage_address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_address">Government Garage Address:</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(government_garage_address)%%>
					</div>
				</div>

				<!-- Field: Government Garage Condition: -->
				<div class="form-group general_control_measures-government_garage_condition">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="government_garage_condition">Government Garage Condition:</label>
					<div class="col-lg-9">
						<%%COMBO(government_garage_condition)%%>
					</div>
				</div>

				<!-- Field: Four Post Lift Condition: -->
				<div class="form-group general_control_measures-four_post_lift_condition">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="four_post_lift_condition">Four Post Lift Condition:</label>
					<div class="col-lg-9">
						<%%COMBO(four_post_lift_condition)%%>
					</div>
				</div>

				<!-- Field: Low Level Lift Condition: -->
				<div class="form-group general_control_measures-low_level_lift_condition">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="low_level_lift_condition">Low Level Lift Condition:</label>
					<div class="col-lg-9">
						<%%COMBO(low_level_lift_condition)%%>
					</div>
				</div>

				<!-- Field: Test Machines Conditions: -->
				<div class="form-group general_control_measures-test_machines_conditions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="test_machines_conditions">Test Machines Conditions:</label>
					<div class="col-lg-9">
						<%%COMBO(test_machines_conditions)%%>
					</div>
				</div>

				<!-- Field: Battery Testers Conditions: -->
				<div class="form-group general_control_measures-battery_testers_conditions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="battery_testers_conditions">Battery Testers Conditions:</label>
					<div class="col-lg-9">
						<%%COMBO(battery_testers_conditions)%%>
					</div>
				</div>

				<!-- Field: Chargers Conditions: -->
				<div class="form-group general_control_measures-chargers_conditions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="chargers_conditions">Chargers Conditions:</label>
					<div class="col-lg-9">
						<%%COMBO(chargers_conditions)%%>
					</div>
				</div>

				<!-- Field: Tools Conditions: -->
				<div class="form-group general_control_measures-tools_conditions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tools_conditions">Tools Conditions:</label>
					<div class="col-lg-9">
						<%%COMBO(tools_conditions)%%>
					</div>
				</div>

				<!-- Field: Hand Tools Conditions: -->
				<div class="form-group general_control_measures-hand_tools_conditions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="hand_tools_conditions">Hand Tools Conditions:</label>
					<div class="col-lg-9">
						<%%COMBO(hand_tools_conditions)%%>
					</div>
				</div>

				<!-- Field: Equipment Conditions: -->
				<div class="form-group general_control_measures-equipment_conditions">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="equipment_conditions">Equipment Conditions:</label>
					<div class="col-lg-9">
						<%%COMBO(equipment_conditions)%%>
					</div>
				</div>

				<!-- Field: Sectional Inspection: -->
				<div class="form-group general_control_measures-sectional_inspection">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="sectional_inspection">Sectional Inspection:</label>
					<div class="col-lg-9">
						<%%COMBO(sectional_inspection)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="general_control_measures_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#government_garage_address').length) new nicEditor({ fullPanel : true }).panelInstance('government_garage_address');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.general_control_measures-district')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#general_control_measures_dv_container-loading').addClass('hidden');
						$j('#general_control_measures_dv_container').removeClass('hidden');
						AppGini.focusFormElement('general_control_measures', 'district');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#general_control_measures_dv_container-loading').addClass('hidden');
				$j('#general_control_measures_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'general_control_measures',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=general_control_measures&id=<%%URLVALUE(general_control_measures_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=general_control_measures&id=<%%URLVALUE(general_control_measures_id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>