<!-- To change the layout of the detail view form, we recommend using JS code in hooks/inspection_bay-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="inspection_bay_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="inspection_bay_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="internal_repairs_mechanical_view.php?filterer_inspection_bay_lane_number=<%%URLVALUE(inspection_bay_id)%%>&<%%EMBEDDED%%>" id="internal_repairs_mechanical_link"><img src="resources/table_icons/document-prefs-icon.png"> Internal Repairs Mechanical:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="internal_repairs_mechanical_view.php?filterer_inspection_bay_lane_number=<%%URLVALUE(inspection_bay_id)%%>&<%%EMBEDDED%%>" id="xs_internal_repairs_mechanical_link"><img src="resources/table_icons/document-prefs-icon.png"> Internal Repairs Mechanical:</a>
			<input type="hidden" id="internal_repairs_mechanical_hclink" value="internal_repairs_mechanical_view.php?filterer_inspection_bay_lane_number=<%%URLVALUE(inspection_bay_id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="inspection_bay_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Inspection Bay ID: -->
				<div class="form-group inspection_bay-inspection_bay_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inspection_bay_id">Inspection Bay ID:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="inspection_bay_id"><%%VALUE(inspection_bay_id)%%></div>
					</div>
				</div>

				<!-- Field: Inspection Bay Supervisor Name & Surname: -->
				<div class="form-group inspection_bay-inspection_bay_supervisor_name_and_surname">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inspection_bay_supervisor_name_and_surname">Inspection Bay Supervisor Name & Surname:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="inspection_bay_supervisor_name_and_surname" id="inspection_bay_supervisor_name_and_surname" value="<%%VALUE(inspection_bay_supervisor_name_and_surname)%%>">
					</div>
				</div>

				<!-- Field: Supervisor Contact Details: -->
				<div class="form-group inspection_bay-supervisor_contact_details">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="supervisor_contact_details">Supervisor Contact Details:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="supervisor_contact_details" id="supervisor_contact_details" value="<%%VALUE(supervisor_contact_details)%%>">
					</div>
				</div>

				<!-- Field: Supervisor Email Address: -->
				<div class="form-group inspection_bay-supervisor_email_address">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="supervisor_email_address-edit-link">Supervisor Email Address:</label>
					<div class="col-lg-9">
						<div>
							<a id="supervisor_email_address-link" href="mailto:<%%VALUE(supervisor_email_address)%%>" target="_blank" class="rspacer-lg"><%%VALUE(supervisor_email_address)%%></a>
							<label for="supervisor_email_address"><button type="button" id="supervisor_email_address-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#supervisor_email_address" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							<input maxlength="40" type="text" class="form-control collapse" name="supervisor_email_address" id="supervisor_email_address" value="<%%VALUE(supervisor_email_address)%%>">
						</div><script>jQuery(function() { var e_supervisor_email_address = '<%%VALUE(supervisor_email_address)%%>'; if(e_supervisor_email_address == '' || e_supervisor_email_address == '&nbsp;' || e_supervisor_email_address == 'blank.gif') jQuery('#supervisor_email_address-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Supervisor Signature: -->
				<div class="form-group inspection_bay-supervisor_signature">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Supervisor Signature: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#supervisor_signature-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="supervisor_signature-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 500 KB.<br>Allowed file types: jpg, jpeg, gif, png</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><img src="thumbnail.php?i=<%%VALUE(supervisor_signature)%%>&t=inspection_bay&f=supervisor_signature&v=dv" class="img-thumbnail" id="supervisor_signature-image"></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(supervisor_signature)%%>
								<%%REMOVEFILE(supervisor_signature)%%>
								<div class="text-bold text-danger file-type-error hidden"><%%TRANSLATION(invalid file type)%%></div>
								<div class="text-bold text-danger file-size-error hidden"><%%TRANSLATION(file too large)%%></div>
							</div>
							<div class="clearfix"></div>
						</div>
						
					</div>
				</div>

				<!-- Field: Date of Vehicle Entrance: -->
				<div class="form-group inspection_bay-date_of_vehicle_entrance">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="date_of_vehicle_entrance">Date of Vehicle Entrance:</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input type="text" class="form-control" name="date_of_vehicle_entrance" id="date_of_vehicle_entrance" value="<%%VALUE(date_of_vehicle_entrance)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

				<!-- Field: Job Card Number: -->
				<div class="form-group inspection_bay-job_card_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="job_card_number" data-parent_link="view_parent_modal">Job Card Number:</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(job_card_number)%%><%%PLINK(job_card_number)%%><%%ADDNEW(reception)%%></div>
					</div>
				</div>

				<!-- Field: Registration Number: -->
				<div class="form-group inspection_bay-vehicle_registration_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="vehicle_registration_number" data-parent_link="view_parent_modal">Registration Number:</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(vehicle_registration_number)%%><%%PLINK(vehicle_registration_number)%%><%%ADDNEW(gmt_fleet_register)%%></div>
					</div>
				</div>

				<!-- Field: Engine Number: -->
				<div class="form-group inspection_bay-engine_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Engine Number:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="engine_number"></div>
					</div>
				</div>

				<!-- Field: Workshop Name: -->
				<div class="form-group inspection_bay-workshop_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Workshop Name:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="workshop_name"></div>
					</div>
				</div>

				<!-- Field: Work Allocation Reference Number: -->
				<div class="form-group inspection_bay-work_allocation_reference_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="work_allocation_reference_number" data-parent_link="view_parent_modal">Work Allocation Reference Number:</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(work_allocation_reference_number)%%><%%PLINK(work_allocation_reference_number)%%><%%ADDNEW(work_allocation)%%></div>
					</div>
				</div>

				<!-- Field: Make of Vehicle: -->
				<div class="form-group inspection_bay-make_of_vehicle">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Make of Vehicle:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="make_of_vehicle"></div>
					</div>
				</div>

				<!-- Field: Inspection Bay Lane Number: -->
				<div class="form-group inspection_bay-inspection_bay_lane_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inspection_bay_lane_number">Inspection Bay Lane Number:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="inspection_bay_lane_number" id="inspection_bay_lane_number" value="<%%VALUE(inspection_bay_lane_number)%%>">
					</div>
				</div>

				<!-- Field: Inspection Bay Condition: -->
				<div class="form-group inspection_bay-inspection_bay_condition">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inspection_bay_condition">Inspection Bay Condition:</label>
					<div class="col-lg-9">
						<%%COMBO(inspection_bay_condition)%%>
					</div>
				</div>

				<!-- Field: Allocation Feedback: -->
				<div class="form-group inspection_bay-allocation_feedback">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="allocation_feedback">Allocation Feedback:</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(allocation_feedback)%%>
					</div>
				</div>

				<!-- Field: Verification Of Defects: -->
				<div class="form-group inspection_bay-verification_of_defects">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="verification_of_defects">Verification Of Defects:</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(verification_of_defects)%%>
					</div>
				</div>

				<!-- Field: Additional Defects: -->
				<div class="form-group inspection_bay-additional_defects">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="additional_defects">Additional Defects:</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="additional_defects" id="additional_defects" rows=" 5"><%%VALUE(additional_defects)%%></textarea>
					</div>
				</div>

				<!-- Field: Additional Defects Record: -->
				<div class="form-group inspection_bay-additional_defects_record">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Additional Defects Record: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#additional_defects_record-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="additional_defects_record-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 100 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="additional_defects_record-link" href="link.php?t=inspection_bay&f=additional_defects_record&i=<%%VALUE(inspection_bay_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(additional_defects_record)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(additional_defects_record)%%>
								<%%REMOVEFILE(additional_defects_record)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_additional_defects_record = '<%%VALUE(additional_defects_record)%%>'; if(e_additional_defects_record == '' || e_additional_defects_record == '&nbsp;' || e_additional_defects_record == 'blank.gif') jQuery('#additional_defects_record-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Repair Requirement Note: -->
				<div class="form-group inspection_bay-repair_requirement_note">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="repair_requirement_note">Repair Requirement Note:</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="repair_requirement_note" id="repair_requirement_note" rows=" 5"><%%VALUE(repair_requirement_note)%%></textarea>
					</div>
				</div>

				<!-- Field: Repair Requirement Report: -->
				<div class="form-group inspection_bay-repair_requirement_report">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Repair Requirement Report: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#repair_requirement_report-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="repair_requirement_report-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 5120 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="repair_requirement_report-link" href="link.php?t=inspection_bay&f=repair_requirement_report&i=<%%VALUE(inspection_bay_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(repair_requirement_report)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(repair_requirement_report)%%>
								<%%REMOVEFILE(repair_requirement_report)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_repair_requirement_report = '<%%VALUE(repair_requirement_report)%%>'; if(e_repair_requirement_report == '' || e_repair_requirement_report == '&nbsp;' || e_repair_requirement_report == 'blank.gif') jQuery('#repair_requirement_report-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Date of Vehicle Exit: -->
				<div class="form-group inspection_bay-date_of_vehicle_exit">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="date_of_vehicle_exit">Date of Vehicle Exit:</label>
					<div class="col-lg-9">
						<div class="input-group date datetimepicker"><input type="text" class="form-control" name="date_of_vehicle_exit" id="date_of_vehicle_exit" value="<%%VALUE(date_of_vehicle_exit)%%>"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="inspection_bay_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="inspection_bay-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#inspection_bay_condition').length) new nicEditor({ fullPanel : true }).panelInstance('inspection_bay_condition');
					if($j('textarea#allocation_feedback').length) new nicEditor({ fullPanel : true }).panelInstance('allocation_feedback');
					if($j('textarea#verification_of_defects').length) new nicEditor({ fullPanel : true }).panelInstance('verification_of_defects');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			$j('#inspection_bay_dv_container-loading').addClass('hidden');
			$j('#inspection_bay_dv_container').removeClass('hidden');
			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) AppGini.focusFormElement('inspection_bay', 'inspection_bay_supervisor_name_and_surname');

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'inspection_bay',
						SelectedID: '<%%VALUE(inspection_bay_id)%%>',
						Operation: 'show-children'
					},
					'inspection_bay-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'inspection_bay',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=inspection_bay&id=<%%URLVALUE(inspection_bay_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=inspection_bay&id=<%%URLVALUE(inspection_bay_id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>