<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the log_sheet_init() hook (in hooks/log_sheet.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="log_sheet-fuel_log_sheet_id-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-fuel_log_sheet_id text-right"><%%VALUE(fuel_log_sheet_id)%%></td>
		<td id="log_sheet-vehicle_registration_number-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-vehicle_registration_number"><%%VALUE(vehicle_registration_number)%%></td>
		<td id="log_sheet-register_number-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-register_number"><%%VALUE(register_number)%%></td>
		<td id="log_sheet-make_of_vehicle-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-make_of_vehicle"><%%VALUE(make_of_vehicle)%%></td>
		<td id="log_sheet-model_of_vehicle-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-model_of_vehicle"><%%VALUE(model_of_vehicle)%%></td>
		<td id="log_sheet-year_model_specification-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-year_model_specification"><%%VALUE(year_model_specification)%%></td>
		<td id="log_sheet-colour_of_vehicle-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-colour_of_vehicle"><%%VALUE(colour_of_vehicle)%%></td>
		<td id="log_sheet-engine_capacity-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-engine_capacity"><%%VALUE(engine_capacity)%%></td>
		<td id="log_sheet-renewal_of_license-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-renewal_of_license"><%%VALUE(renewal_of_license)%%></td>
		<td id="log_sheet-district-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-district"><%%VALUE(district)%%></td>
		<td id="log_sheet-month-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-month"><%%VALUE(month)%%></td>
		<td id="log_sheet-drivers_name_and_surname-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-drivers_name_and_surname"><%%VALUE(drivers_name_and_surname)%%></td>
		<td id="log_sheet-drivers_persal_number-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-drivers_persal_number"><%%VALUE(drivers_persal_number)%%></td>
		<td id="log_sheet-opening_km-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-opening_km"><%%VALUE(opening_km)%%></td>
		<td id="log_sheet-total_trip_distance-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-total_trip_distance"><%%VALUE(total_trip_distance)%%></td>
		<td id="log_sheet-closing_km-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-closing_km"><%%VALUE(closing_km)%%></td>
		<td id="log_sheet-fuel_type-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-fuel_type"><%%VALUE(fuel_type)%%></td>
		<td id="log_sheet-fuel_tank_capacity-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-fuel_tank_capacity text-right"><%%VALUE(fuel_tank_capacity)%%></td>
		<td id="log_sheet-vendor-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-vendor"><%%VALUE(vendor)%%></td>
		<td id="log_sheet-fuel_cost_litre-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-fuel_cost_litre text-right"><%%VALUE(fuel_cost_litre)%%></td>
		<td id="log_sheet-refuel_quantity_1-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_quantity_1 text-right"><%%VALUE(refuel_quantity_1)%%></td>
		<td id="log_sheet-refuel_first_time_date-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_first_time_date"><%%VALUE(refuel_first_time_date)%%></td>
		<td id="log_sheet-trip_distance_refuel_1-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-trip_distance_refuel_1"><%%VALUE(trip_distance_refuel_1)%%></td>
		<td id="log_sheet-refuel_quantity_2-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_quantity_2 text-right"><%%VALUE(refuel_quantity_2)%%></td>
		<td id="log_sheet-refuel_second_time_date-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_second_time_date"><%%VALUE(refuel_second_time_date)%%></td>
		<td id="log_sheet-trip_distance_refuel_2-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-trip_distance_refuel_2"><%%VALUE(trip_distance_refuel_2)%%></td>
		<td id="log_sheet-refuel_quantity_3-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_quantity_3 text-right"><%%VALUE(refuel_quantity_3)%%></td>
		<td id="log_sheet-refuel_third_time_date-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_third_time_date"><%%VALUE(refuel_third_time_date)%%></td>
		<td id="log_sheet-trip_distance_refuel_3-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-trip_distance_refuel_3"><%%VALUE(trip_distance_refuel_3)%%></td>
		<td id="log_sheet-refuel_quantity_4-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_quantity_4 text-right"><%%VALUE(refuel_quantity_4)%%></td>
		<td id="log_sheet-refuel_fourth_time_date-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_fourth_time_date"><%%VALUE(refuel_fourth_time_date)%%></td>
		<td id="log_sheet-trip_distance_refuel_4-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-trip_distance_refuel_4"><%%VALUE(trip_distance_refuel_4)%%></td>
		<td id="log_sheet-refuel_quantity_5-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_quantity_5 text-right"><%%VALUE(refuel_quantity_5)%%></td>
		<td id="log_sheet-refuel_fifth_time_date-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_fifth_time_date"><%%VALUE(refuel_fifth_time_date)%%></td>
		<td id="log_sheet-trip_distance_refuel_5-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-trip_distance_refuel_5"><%%VALUE(trip_distance_refuel_5)%%></td>
		<td id="log_sheet-refuel_quantity_6-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_quantity_6 text-right"><%%VALUE(refuel_quantity_6)%%></td>
		<td id="log_sheet-trip_distance_refuel_6-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-trip_distance_refuel_6"><%%VALUE(trip_distance_refuel_6)%%></td>
		<td id="log_sheet-refuel_sixth_time_date-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-refuel_sixth_time_date"><%%VALUE(refuel_sixth_time_date)%%></td>
		<td id="log_sheet-times_refuel_current_month-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-times_refuel_current_month text-right"><%%VALUE(times_refuel_current_month)%%></td>
		<td id="log_sheet-total_fuel_quantity-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-total_fuel_quantity text-right"><%%VALUE(total_fuel_quantity)%%></td>
		<td id="log_sheet-fuel_consumption-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-fuel_consumption text-right"><%%VALUE(fuel_consumption)%%></td>
		<td id="log_sheet-fuel_total_cost-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-fuel_total_cost text-right"><%%VALUE(fuel_total_cost)%%></td>
		<td id="log_sheet-payment_e_fuel_card-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-payment_e_fuel_card"><%%VALUE(payment_e_fuel_card)%%></td>
		<td id="log_sheet-captured_by-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-captured_by"><%%VALUE(captured_by)%%></td>
		<td id="log_sheet-comments-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-comments"><%%VALUE(comments)%%></td>
		<td id="log_sheet-date_captured-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-date_captured"><%%VALUE(date_captured)%%></td>
		<td id="log_sheet-complete_fill_up-<%%VALUE(fuel_log_sheet_id)%%>" class="log_sheet-complete_fill_up"><%%VALUE(complete_fill_up)%%></td>
