<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Vendor ID: -->
		<div class="form-group merchant-merchant_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vendor ID:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_id)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Type: -->
		<div class="form-group merchant-merchant_type" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Type:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="merchant_type<%%RND1%%>"><%%COMBOTEXT(merchant_type)%%></span></div>
			</div>
		</div>
		<!-- Field: Merchant code -->
		<div class="form-group merchant-merchant_code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant code</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_code)%%></div>
			</div>
		</div>
		<!-- Field: Merchant  Name: -->
		<div class="form-group merchant-merchant_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant  Name:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_name)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Contact e-Mail: -->
		<div class="form-group merchant-merchant_contact_email" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Contact e-Mail:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_contact_email)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Street Address: -->
		<div class="form-group merchant-merchant_street_address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Street Address:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_street_address)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Suburb: -->
		<div class="form-group merchant-merchant_suburb" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Suburb:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_suburb)%%></div>
			</div>
		</div>
		<!-- Field: Merchant City: -->
		<div class="form-group merchant-merchant_city" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant City:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_city)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Address Code: -->
		<div class="form-group merchant-merchant_address_code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Address Code:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_address_code)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Phone: -->
		<div class="form-group merchant-merchant_contact_details" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Phone:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(merchant_contact_details)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="merchant-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=merchant-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'merchant',
				SelectedID: '<%%VALUE(merchant_id)%%>',
				Operation: 'show-children-printable'
			},
			'merchant-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

