<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the merchant_init() hook (in hooks/merchant.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="merchant-merchant_id-<%%VALUE(merchant_id)%%>" class="merchant-merchant_id text-right"><%%VALUE(merchant_id)%%></td>
		<td id="merchant-merchant_type-<%%VALUE(merchant_id)%%>" class="merchant-merchant_type"><%%VALUE(merchant_type)%%></td>
		<td id="merchant-merchant_code-<%%VALUE(merchant_id)%%>" class="merchant-merchant_code"><%%VALUE(merchant_code)%%></td>
		<td id="merchant-merchant_name-<%%VALUE(merchant_id)%%>" class="merchant-merchant_name"><%%VALUE(merchant_name)%%></td>
		<td id="merchant-merchant_contact_email-<%%VALUE(merchant_id)%%>" class="merchant-merchant_contact_email"><a href="mailto:<%%VALUE(merchant_contact_email)%%>" title="<%%VALUE(merchant_contact_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="merchant-merchant_street_address-<%%VALUE(merchant_id)%%>" class="merchant-merchant_street_address"><%%VALUE(merchant_street_address)%%></td>
		<td id="merchant-merchant_suburb-<%%VALUE(merchant_id)%%>" class="merchant-merchant_suburb"><%%VALUE(merchant_suburb)%%></td>
		<td id="merchant-merchant_city-<%%VALUE(merchant_id)%%>" class="merchant-merchant_city"><%%VALUE(merchant_city)%%></td>
		<td id="merchant-merchant_address_code-<%%VALUE(merchant_id)%%>" class="merchant-merchant_address_code"><%%VALUE(merchant_address_code)%%></td>
		<td id="merchant-merchant_contact_details-<%%VALUE(merchant_id)%%>" class="merchant-merchant_contact_details"><%%VALUE(merchant_contact_details)%%></td>
