<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the modification_to_vehicle_init() hook (in hooks/modification_to_vehicle.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="modification_to_vehicle-modification_id-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-modification_id text-right"><%%VALUE(modification_id)%%></td>
		<td id="modification_to_vehicle-type_of_vehicle-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-type_of_vehicle"><%%VALUE(type_of_vehicle)%%></td>
		<td id="modification_to_vehicle-directorate-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-directorate"><%%VALUE(directorate)%%></td>
		<td id="modification_to_vehicle-head_office-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-head_office"><%%VALUE(head_office)%%></td>
		<td id="modification_to_vehicle-district-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-district"><%%VALUE(district)%%></td>
		<td id="modification_to_vehicle-location-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-location"><%%VALUE(location)%%></td>
		<td id="modification_to_vehicle-drivers_name_and_surname-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-drivers_name_and_surname"><%%VALUE(drivers_name_and_surname)%%></td>
		<td id="modification_to_vehicle-drivers_persal_number-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-drivers_persal_number"><%%VALUE(drivers_persal_number)%%></td>
		<td id="modification_to_vehicle-drivers_contact_details-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-drivers_contact_details"><%%VALUE(drivers_contact_details)%%></td>
		<td id="modification_to_vehicle-driver_rank-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-driver_rank"><%%VALUE(driver_rank)%%></td>
		<td id="modification_to_vehicle-driver_signature-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-driver_signature"><img src="thumbnail.php?i=<%%VALUE(driver_signature)%%>&t=modification_to_vehicle&f=driver_signature&v=tv" class="img-thumbnail"></td>
		<td id="modification_to_vehicle-vehicle_registration_number-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-vehicle_registration_number"><%%VALUE(vehicle_registration_number)%%></td>
		<td id="modification_to_vehicle-make_of_vehicle-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-make_of_vehicle"><%%VALUE(make_of_vehicle)%%></td>
		<td id="modification_to_vehicle-model_of_vehicle-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-model_of_vehicle"><%%VALUE(model_of_vehicle)%%></td>
		<td id="modification_to_vehicle-closing_km-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-closing_km"><%%VALUE(closing_km)%%></td>
		<td id="modification_to_vehicle-job_card_number-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-job_card_number"><%%VALUE(job_card_number)%%></td>
		<td id="modification_to_vehicle-objective-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-objective"><%%VALUE(objective)%%></td>
		<td id="modification_to_vehicle-fuel_gauge_amount-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-fuel_gauge_amount"><%%VALUE(fuel_gauge_amount)%%></td>
		<td id="modification_to_vehicle-keys_ignition-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-keys_ignition"><%%VALUE(keys_ignition)%%></td>
		<td id="modification_to_vehicle-petrol_cap_with_keys-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-petrol_cap_with_keys"><%%VALUE(petrol_cap_with_keys)%%></td>
		<td id="modification_to_vehicle-padlock_with_keys-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-padlock_with_keys"><%%VALUE(padlock_with_keys)%%></td>
		<td id="modification_to_vehicle-tyre_r_f-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_r_f"><%%VALUE(tyre_r_f)%%></td>
		<td id="modification_to_vehicle-tyre_r_f_1-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_r_f_1"><%%VALUE(tyre_r_f_1)%%></td>
		<td id="modification_to_vehicle-tyre_r_r-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_r_r"><%%VALUE(tyre_r_r)%%></td>
		<td id="modification_to_vehicle-tyre_r_r_1-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_r_r_1"><%%VALUE(tyre_r_r_1)%%></td>
		<td id="modification_to_vehicle-tyre_l_f-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_l_f"><%%VALUE(tyre_l_f)%%></td>
		<td id="modification_to_vehicle-tyre_l_f_1-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_l_f_1"><%%VALUE(tyre_l_f_1)%%></td>
		<td id="modification_to_vehicle-tyer_l_r-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyer_l_r"><%%VALUE(tyer_l_r)%%></td>
		<td id="modification_to_vehicle-tyer_l_r_1-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyer_l_r_1"><%%VALUE(tyer_l_r_1)%%></td>
		<td id="modification_to_vehicle-tyre_spare-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_spare"><%%VALUE(tyre_spare)%%></td>
		<td id="modification_to_vehicle-tyre_spare_1-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-tyre_spare_1"><%%VALUE(tyre_spare_1)%%></td>
		<td id="modification_to_vehicle-wheel_cups-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-wheel_cups"><%%VALUE(wheel_cups)%%></td>
		<td id="modification_to_vehicle-other-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-other"><%%VALUE(other)%%></td>
		<td id="modification_to_vehicle-battery-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-battery"><%%VALUE(battery)%%></td>
		<td id="modification_to_vehicle-battery_voltage-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-battery_voltage"><%%VALUE(battery_voltage)%%></td>
		<td id="modification_to_vehicle-wheel_spanner-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-wheel_spanner"><%%VALUE(wheel_spanner)%%></td>
		<td id="modification_to_vehicle-jack_with_handle-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-jack_with_handle"><%%VALUE(jack_with_handle)%%></td>
		<td id="modification_to_vehicle-radio_dvd_combination-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-radio_dvd_combination"><%%VALUE(radio_dvd_combination)%%></td>
		<td id="modification_to_vehicle-petrol_card-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-petrol_card"><%%VALUE(petrol_card)%%></td>
		<td id="modification_to_vehicle-valid_license_disc-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-valid_license_disc"><%%VALUE(valid_license_disc)%%></td>
		<td id="modification_to_vehicle-valid_license_disc_date-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-valid_license_disc_date"><%%VALUE(valid_license_disc_date)%%></td>
		<td id="modification_to_vehicle-fire_extinguisher-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-fire_extinguisher"><%%VALUE(fire_extinguisher)%%></td>
		<td id="modification_to_vehicle-warning_signs_traingle-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-warning_signs_traingle"><%%VALUE(warning_signs_traingle)%%></td>
		<td id="modification_to_vehicle-date_checked_in-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-date_checked_in"><%%VALUE(date_checked_in)%%></td>
		<td id="modification_to_vehicle-testing_officer_name_and_surname-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-testing_officer_name_and_surname"><%%VALUE(testing_officer_name_and_surname)%%></td>
		<td id="modification_to_vehicle-testing_officer_persal_number-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-testing_officer_persal_number"><%%VALUE(testing_officer_persal_number)%%></td>
		<td id="modification_to_vehicle-testing_officer_rank-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-testing_officer_rank"><%%VALUE(testing_officer_rank)%%></td>
		<td id="modification_to_vehicle-testing_officer_signature-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-testing_officer_signature"><img src="thumbnail.php?i=<%%VALUE(testing_officer_signature)%%>&t=modification_to_vehicle&f=testing_officer_signature&v=tv" class="img-thumbnail"></td>
		<td id="modification_to_vehicle-date_received-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-date_received"><%%VALUE(date_received)%%></td>
		<td id="modification_to_vehicle-supervisor_for_allocation_name_and_surname-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-supervisor_for_allocation_name_and_surname"><%%VALUE(supervisor_for_allocation_name_and_surname)%%></td>
		<td id="modification_to_vehicle-supervisor_for_allocation_persal_number-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-supervisor_for_allocation_persal_number"><%%VALUE(supervisor_for_allocation_persal_number)%%></td>
		<td id="modification_to_vehicle-supervisor_for_allocation_rank-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-supervisor_for_allocation_rank"><%%VALUE(supervisor_for_allocation_rank)%%></td>
		<td id="modification_to_vehicle-supervisor_for_allocation_signature-<%%VALUE(modification_id)%%>" class="modification_to_vehicle-supervisor_for_allocation_signature"><img src="thumbnail.php?i=<%%VALUE(supervisor_for_allocation_signature)%%>&t=modification_to_vehicle&f=supervisor_for_allocation_signature&v=tv" class="img-thumbnail"></td>
