<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the province_init() hook (in hooks/province.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="province-province_id-<%%VALUE(province_id)%%>" class="province-province_id text-right"><%%SELECT%%><%%VALUE(province_id)%%><%%ENDSELECT%%></td>
		<td id="province-province-<%%VALUE(province_id)%%>" class="province-province"><%%SELECT%%><%%VALUE(province)%%><%%ENDSELECT%%></td>
