<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the service_type_init() hook (in hooks/service_type.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="service_type-service_type_id-<%%VALUE(service_type_id)%%>" class="service_type-service_type_id text-right"><%%SELECT%%><%%VALUE(service_type_id)%%><%%ENDSELECT%%></td>
		<td id="service_type-service-<%%VALUE(service_type_id)%%>" class="service_type-service"><%%SELECT%%><%%VALUE(service)%%><%%ENDSELECT%%></td>
		<td id="service_type-type_of_service-<%%VALUE(service_type_id)%%>" class="service_type-type_of_service"><%%SELECT%%><%%VALUE(type_of_service)%%><%%ENDSELECT%%></td>
		<td id="service_type-reference-<%%VALUE(service_type_id)%%>" class="service_type-reference text-right"><%%SELECT%%><%%VALUE(reference)%%><%%ENDSELECT%%></td>
		<td id="service_type-service_item_type-<%%VALUE(service_type_id)%%>" class="service_type-service_item_type"><%%SELECT%%><%%VALUE(service_item_type)%%><%%ENDSELECT%%></td>
		<td id="service_type-service_category-<%%VALUE(service_type_id)%%>" class="service_type-service_category"><%%SELECT%%><%%VALUE(service_category)%%><%%ENDSELECT%%></td>
		<td id="service_type-service_item-<%%VALUE(service_type_id)%%>" class="service_type-service_item"><%%SELECT%%><%%VALUE(service_item)%%><%%ENDSELECT%%></td>
		<td id="service_type-frequency_time_number-<%%VALUE(service_type_id)%%>" class="service_type-frequency_time_number"><%%SELECT%%><%%VALUE(frequency_time_number)%%><%%ENDSELECT%%></td>
		<td id="service_type-frequency_time-<%%VALUE(service_type_id)%%>" class="service_type-frequency_time"><%%SELECT%%><%%VALUE(frequency_time)%%><%%ENDSELECT%%></td>
		<td id="service_type-frequency_odometer-<%%VALUE(service_type_id)%%>" class="service_type-frequency_odometer"><%%SELECT%%><%%VALUE(frequency_odometer)%%><%%ENDSELECT%%></td>
