<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the service_provider_init() hook (in hooks/service_provider.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="service_provider-service_provider_id-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_id text-right"><%%SELECT%%><%%VALUE(service_provider_id)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_type-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_type"><%%SELECT%%><%%VALUE(service_provider_type)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_name-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_name"><%%SELECT%%><%%VALUE(service_provider_name)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_contact_email-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_contact_email"><a href="mailto:<%%VALUE(service_provider_contact_email)%%>" title="<%%VALUE(service_provider_contact_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
		<td id="service_provider-service_provider_contact_details-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_contact_details"><%%SELECT%%><%%VALUE(service_provider_contact_details)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_street_address-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_street_address"><%%SELECT%%><%%VALUE(service_provider_street_address)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_branch_code-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_branch_code"><%%SELECT%%><%%VALUE(service_provider_branch_code)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_branch-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_branch"><%%SELECT%%><%%VALUE(service_provider_branch)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_city-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_city"><%%SELECT%%><%%VALUE(service_provider_city)%%><%%ENDSELECT%%></td>
		<td id="service_provider-service_provider_address_code-<%%VALUE(service_provider_id)%%>" class="service_provider-service_provider_address_code"><%%SELECT%%><%%VALUE(service_provider_address_code)%%><%%ENDSELECT%%></td>
