<!-- To change the layout of the detail view form, we recommend using JS code in hooks/tyre_log_sheet-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="tyre_log_sheet_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="tyre_log_sheet_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm" href="vehicle_history_view.php?filterer_tyre_inspection_report=<%%URLVALUE(tyre_log_id)%%>&<%%EMBEDDED%%>" id="vehicle_history_link"><i class="glyphicon glyphicon-dashboard"></i> Vehicle General History:</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="vehicle_history_view.php?filterer_tyre_inspection_report=<%%URLVALUE(tyre_log_id)%%>&<%%EMBEDDED%%>" id="xs_vehicle_history_link"><i class="glyphicon glyphicon-dashboard"></i> Vehicle General History:</a>
			<input type="hidden" id="vehicle_history_hclink" value="vehicle_history_view.php?filterer_tyre_inspection_report=<%%URLVALUE(tyre_log_id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="tyre_log_sheet_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Tyre Log ID: -->
				<div class="form-group tyre_log_sheet-tyre_log_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_log_id">Tyre Log ID:</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="tyre_log_id"><%%VALUE(tyre_log_id)%%></div>
					</div>
				</div>

				<!-- Field: Registration Number: -->
				<div class="form-group tyre_log_sheet-vehicle_registration_number">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="vehicle_registration_number" data-parent_link="view_parent_modal">Registration Number:</label>
					<div class="col-lg-9">
						<div class="lookup-flex"><%%COMBO(vehicle_registration_number)%%><%%PLINK(vehicle_registration_number)%%><%%ADDNEW(gmt_fleet_register)%%></div>
					</div>
				</div>

				<!-- Field: Tyre Position: -->
				<div class="form-group tyre_log_sheet-tyre_position">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_position">Tyre Position:</label>
					<div class="col-lg-9">
						<%%COMBO(tyre_position)%%>
					</div>
				</div>

				<!-- Field: Tyre Tread Condition: -->
				<div class="form-group tyre_log_sheet-tyre_tread_condition">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_tread_condition">Tyre Tread Condition:</label>
					<div class="col-lg-9">
						<%%COMBO(tyre_tread_condition)%%>
					</div>
				</div>

				<!-- Field: Tyre Brand: -->
				<div class="form-group tyre_log_sheet-tyre_brand">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_brand">Tyre Brand:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_brand" id="tyre_brand" value="<%%VALUE(tyre_brand)%%>">
					</div>
				</div>

				<!-- Field: Tyre Model: -->
				<div class="form-group tyre_log_sheet-tyre_model">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_model">Tyre Model:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_model" id="tyre_model" value="<%%VALUE(tyre_model)%%>">
					</div>
				</div>

				<!-- Field: Tyre Size (Radial): -->
				<div class="form-group tyre_log_sheet-tyre_size">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_size">Tyre Size (Radial):</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_size" id="tyre_size" value="<%%VALUE(tyre_size)%%>">
					</div>
				</div>

				<!-- Field: Tyre Pressure (Kpa): -->
				<div class="form-group tyre_log_sheet-tyre_pressure">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_pressure">Tyre Pressure (Kpa):</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_pressure" id="tyre_pressure" value="<%%VALUE(tyre_pressure)%%>">
					</div>
				</div>

				<!-- Field: Action: -->
				<div class="form-group tyre_log_sheet-action">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="action">Action:</label>
					<div class="col-lg-9">
						<%%COMBO(action)%%>
					</div>
				</div>

				<!-- Field: Warranty: -->
				<div class="form-group tyre_log_sheet-warranty">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="warranty">Warranty:</label>
					<div class="col-lg-9">
						<%%COMBO(warranty)%%>
					</div>
				</div>

				<!-- Field: Document: -->
				<div class="form-group tyre_log_sheet-documents">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Document: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#documents-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="documents-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 5120 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="documents-link" href="link.php?t=tyre_log_sheet&f=documents&i=<%%VALUE(tyre_log_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(documents)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(documents)%%>
								<%%REMOVEFILE(documents)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_documents = '<%%VALUE(documents)%%>'; if(e_documents == '' || e_documents == '&nbsp;' || e_documents == 'blank.gif') jQuery('#documents-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Tyre Tread (mm): -->
				<div class="form-group tyre_log_sheet-tyre_tread">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_tread">Tyre Tread (mm):</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_tread" id="tyre_tread" value="<%%VALUE(tyre_tread)%%>">
					</div>
				</div>

				<!-- Field: Tyre Maximum Wear: -->
				<div class="form-group tyre_log_sheet-tyre_maximum_wear">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_maximum_wear">Tyre Maximum Wear:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_maximum_wear" id="tyre_maximum_wear" value="<%%VALUE(tyre_maximum_wear)%%>">
					</div>
				</div>

				<!-- Field: Inspection Date: -->
				<div class="form-group tyre_log_sheet-inspection_date">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="inspection_date-dd">Inspection Date:</label>
					<div class="col-lg-9">
						<%%COMBO(inspection_date)%%>
					</div>
				</div>

				<!-- Field: Tyre Inspection Done By: -->
				<div class="form-group tyre_log_sheet-tyre_inspection_done_by">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tyre_inspection_done_by">Tyre Inspection Done By:</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="tyre_inspection_done_by" id="tyre_inspection_done_by" value="<%%VALUE(tyre_inspection_done_by)%%>">
					</div>
				</div>

				<!-- Field: Tyre Inspection Report: -->
				<div class="form-group tyre_log_sheet-tyre_inspection_report">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Tyre Inspection Report: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#tyre_inspection_report-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="tyre_inspection_report-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 5120 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="tyre_inspection_report-link" href="link.php?t=tyre_log_sheet&f=tyre_inspection_report&i=<%%VALUE(tyre_log_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(tyre_inspection_report)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(tyre_inspection_report)%%>
								<%%REMOVEFILE(tyre_inspection_report)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_tyre_inspection_report = '<%%VALUE(tyre_inspection_report)%%>'; if(e_tyre_inspection_report == '' || e_tyre_inspection_report == '&nbsp;' || e_tyre_inspection_report == 'blank.gif') jQuery('#tyre_inspection_report-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Status -->
				<div class="form-group tyre_log_sheet-status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Status</label>
					<div class="col-lg-9">
						<%%COMBO(status)%%>
					</div>
				</div>

				<!-- Field: Opening KM: -->
				<div class="form-group tyre_log_sheet-opening_km">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="opening_km">Opening KM:</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="opening_km" id="opening_km" value="<%%VALUE(opening_km)%%>">
					</div>
				</div>

				<!-- Field: Closing KM: -->
				<div class="form-group tyre_log_sheet-closing_km">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="closing_km">Closing KM:</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="closing_km" id="closing_km" value="<%%VALUE(closing_km)%%>">
					</div>
				</div>

				<!-- Field: Trip Distance (Total KM Covered with Tyre): -->
				<div class="form-group tyre_log_sheet-total_km">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="total_km">Trip Distance (Total KM Covered with Tyre):</label>
					<div class="col-lg-9">
						<input maxlength="15" type="text" class="form-control" name="total_km" id="total_km" value="<%%VALUE(total_km)%%>">
					</div>
				</div>

				<!-- Field: Comments: -->
				<div class="form-group tyre_log_sheet-comments">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="comments">Comments:</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(comments)%%>
					</div>
				</div>

				<!-- Field: Tyres Cause Of Accident: -->
				<div class="form-group tyre_log_sheet-tyres_cause_of_accident">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Tyres Cause Of Accident:</label>
					<div class="col-lg-9">
						<%%COMBO(tyres_cause_of_accident)%%>
					</div>
				</div>

				<!-- Field: Accident Report: -->
				<div class="form-group tyre_log_sheet-accident_report">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Accident Report: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#accident_report-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="accident_report-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 5120 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="accident_report-link" href="link.php?t=tyre_log_sheet&f=accident_report&i=<%%VALUE(tyre_log_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(accident_report)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(accident_report)%%>
								<%%REMOVEFILE(accident_report)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_accident_report = '<%%VALUE(accident_report)%%>'; if(e_accident_report == '' || e_accident_report == '&nbsp;' || e_accident_report == 'blank.gif') jQuery('#accident_report-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Claims Report: -->
				<div class="form-group tyre_log_sheet-claims_report">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Claims Report: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#claims_report-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="claims_report-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 5120 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="claims_report-link" href="link.php?t=tyre_log_sheet&f=claims_report&i=<%%VALUE(tyre_log_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(claims_report)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(claims_report)%%>
								<%%REMOVEFILE(claims_report)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_claims_report = '<%%VALUE(claims_report)%%>'; if(e_claims_report == '' || e_claims_report == '&nbsp;' || e_claims_report == 'blank.gif') jQuery('#claims_report-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Insurance Claims Report: -->
				<div class="form-group tyre_log_sheet-insurance_claims_report">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Insurance Claims Report: <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#insurance_claims_report-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="insurance_claims_report-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 5120 KB.<br>Allowed file types: txt, doc, docx, docm, odt, pdf, rtf</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="insurance_claims_report-link" href="link.php?t=tyre_log_sheet&f=insurance_claims_report&i=<%%VALUE(tyre_log_id)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-file" title="<%%VALUE(insurance_claims_report)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(insurance_claims_report)%%>
								<%%REMOVEFILE(insurance_claims_report)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_insurance_claims_report = '<%%VALUE(insurance_claims_report)%%>'; if(e_insurance_claims_report == '' || e_insurance_claims_report == '&nbsp;' || e_insurance_claims_report == 'blank.gif') jQuery('#insurance_claims_report-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Reminder if Maximum Wear is reached?: -->
				<div class="form-group tyre_log_sheet-reminder_maximum_wear">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Reminder if Maximum Wear is reached?:</label>
					<div class="col-lg-9">
						<%%COMBO(reminder_maximum_wear)%%>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="tyre_log_sheet_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="tyre_log_sheet-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#comments').length) new nicEditor({ fullPanel : true }).panelInstance('comments');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.tyre_log_sheet-vehicle_registration_number')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0
								// or read-only DV
								|| (!$j('#update').length && !$j('#insert').length);
					},
					action: function() {
						$j('#tyre_log_sheet_dv_container-loading').addClass('hidden');
						$j('#tyre_log_sheet_dv_container').removeClass('hidden');
						AppGini.focusFormElement('tyre_log_sheet', 'vehicle_registration_number');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#tyre_log_sheet_dv_container-loading').addClass('hidden');
				$j('#tyre_log_sheet_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"]):not([href$=".jpg"]):not([href$=".png"]):not([href$=".gif"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'tyre_log_sheet',
						SelectedID: '<%%VALUE(tyre_log_id)%%>',
						Operation: 'show-children'
					},
					'tyre_log_sheet-children'
				);
			}

			if(true /* !embedded_mode */) {
				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'tyre_log_sheet',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');

									// in case the parent record was updated, we should update auto-fills
									var updaterName = field_id + '_update_autofills';
									if(typeof(window[updaterName]) == 'function')
										window[updaterName]();
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=tyre_log_sheet&id=<%%URLVALUE(tyre_log_id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=tyre_log_sheet&id=<%%URLVALUE(tyre_log_id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>