		<td colspan="38" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="vehicle_annual_inspection-fleet_asset_id-caption field-caption-tv">Asset ID:</dt>
					<dd id="vehicle_annual_inspection-fleet_asset_id-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-fleet_asset_id text-right"><%%VALUE(fleet_asset_id)%%></dd>

					<dt class="vehicle_annual_inspection-vehicle_registration_number-caption field-caption-tv">Registration Number:</dt>
					<dd id="vehicle_annual_inspection-vehicle_registration_number-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-vehicle_registration_number"><%%VALUE(vehicle_registration_number)%%></dd>

					<dt class="vehicle_annual_inspection-register_number-caption field-caption-tv">Register Number:</dt>
					<dd id="vehicle_annual_inspection-register_number-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-register_number"><%%VALUE(register_number)%%></dd>

					<dt class="vehicle_annual_inspection-engine_number-caption field-caption-tv">Engine Number:</dt>
					<dd id="vehicle_annual_inspection-engine_number-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-engine_number"><%%VALUE(engine_number)%%></dd>

					<dt class="vehicle_annual_inspection-chassis_number-caption field-caption-tv">Chassis/Vin Number:</dt>
					<dd id="vehicle_annual_inspection-chassis_number-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-chassis_number"><%%VALUE(chassis_number)%%></dd>

					<dt class="vehicle_annual_inspection-make_of_vehicle-caption field-caption-tv">Make of Vehicle:</dt>
					<dd id="vehicle_annual_inspection-make_of_vehicle-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-make_of_vehicle"><%%VALUE(make_of_vehicle)%%></dd>

					<dt class="vehicle_annual_inspection-model_of_vehicle-caption field-caption-tv">Model of Vehicle:</dt>
					<dd id="vehicle_annual_inspection-model_of_vehicle-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-model_of_vehicle"><%%VALUE(model_of_vehicle)%%></dd>

					<dt class="vehicle_annual_inspection-year_model_specification-caption field-caption-tv">Year Model Specification:</dt>
					<dd id="vehicle_annual_inspection-year_model_specification-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-year_model_specification"><%%VALUE(year_model_specification)%%></dd>

					<dt class="vehicle_annual_inspection-engine_capacity-caption field-caption-tv">Engine Capacity (cc):</dt>
					<dd id="vehicle_annual_inspection-engine_capacity-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-engine_capacity"><%%VALUE(engine_capacity)%%></dd>

					<dt class="vehicle_annual_inspection-tyre_size-caption field-caption-tv">Tyre Size (Radial):</dt>
					<dd id="vehicle_annual_inspection-tyre_size-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-tyre_size"><%%VALUE(tyre_size)%%></dd>

					<dt class="vehicle_annual_inspection-transmission-caption field-caption-tv">Transmission:</dt>
					<dd id="vehicle_annual_inspection-transmission-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-transmission"><%%VALUE(transmission)%%></dd>

					<dt class="vehicle_annual_inspection-fuel_type-caption field-caption-tv">Fuel Type:</dt>
					<dd id="vehicle_annual_inspection-fuel_type-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-fuel_type"><%%VALUE(fuel_type)%%></dd>

					<dt class="vehicle_annual_inspection-type_of_vehicle-caption field-caption-tv">Type of Vehicle:</dt>
					<dd id="vehicle_annual_inspection-type_of_vehicle-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-type_of_vehicle"><%%VALUE(type_of_vehicle)%%></dd>

					<dt class="vehicle_annual_inspection-colour_of_vehicle-caption field-caption-tv">Colour of Vehicle:</dt>
					<dd id="vehicle_annual_inspection-colour_of_vehicle-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-colour_of_vehicle"><%%VALUE(colour_of_vehicle)%%></dd>

					<dt class="vehicle_annual_inspection-application_status-caption field-caption-tv">Application Status:</dt>
					<dd id="vehicle_annual_inspection-application_status-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-application_status"><%%VALUE(application_status)%%></dd>

					<dt class="vehicle_annual_inspection-renewal_of_license-caption field-caption-tv">License Expiry Date:</dt>
					<dd id="vehicle_annual_inspection-renewal_of_license-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-renewal_of_license"><%%VALUE(renewal_of_license)%%></dd>

					<dt class="vehicle_annual_inspection-barcode_number-caption field-caption-tv">Barcode Number:</dt>
					<dd id="vehicle_annual_inspection-barcode_number-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-barcode_number"><%%VALUE(barcode_number)%%></dd>

					<dt class="vehicle_annual_inspection-last_entry_logbook-caption field-caption-tv">Last Entry of Figure in Log Book:</dt>
					<dd id="vehicle_annual_inspection-last_entry_logbook-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-last_entry_logbook"><%%VALUE(last_entry_logbook)%%></dd>

					<dt class="vehicle_annual_inspection-photo_of_vehicle-caption field-caption-tv">Photo of Vehicle:</dt>
					<dd id="vehicle_annual_inspection-photo_of_vehicle-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-photo_of_vehicle"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(photo_of_vehicle)%%>" data-lightbox="vehicle_annual_inspection-photo_of_vehicle"><img src="thumbnail.php?i=<%%VALUE(photo_of_vehicle)%%>&t=vehicle_annual_inspection&f=photo_of_vehicle&v=tv" class="img-thumbnail"></a></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="vehicle_annual_inspection-department_name-caption field-caption-tv">Department Name:</dt>
					<dd id="vehicle_annual_inspection-department_name-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-department_name"><%%VALUE(department_name)%%></dd>

					<dt class="vehicle_annual_inspection-province-caption field-caption-tv">Province:</dt>
					<dd id="vehicle_annual_inspection-province-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-province"><%%VALUE(province)%%></dd>

					<dt class="vehicle_annual_inspection-district-caption field-caption-tv">District and Station:</dt>
					<dd id="vehicle_annual_inspection-district-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-district"><%%VALUE(district)%%></dd>

					<dt class="vehicle_annual_inspection-mechanical_inspection-caption field-caption-tv">Mechanical Inspection:</dt>
					<dd id="vehicle_annual_inspection-mechanical_inspection-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-mechanical_inspection"><%%VALUE(mechanical_inspection)%%></dd>

					<dt class="vehicle_annual_inspection-upholstery-caption field-caption-tv">Upholstery:</dt>
					<dd id="vehicle_annual_inspection-upholstery-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-upholstery"><%%VALUE(upholstery)%%></dd>

					<dt class="vehicle_annual_inspection-electrical_inspection-caption field-caption-tv">Electrical Inspection:</dt>
					<dd id="vehicle_annual_inspection-electrical_inspection-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-electrical_inspection"><%%VALUE(electrical_inspection)%%></dd>

					<dt class="vehicle_annual_inspection-wheel_spanner-caption field-caption-tv">Wheel Spanner:</dt>
					<dd id="vehicle_annual_inspection-wheel_spanner-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-wheel_spanner"><%%VALUE(wheel_spanner)%%></dd>

					<dt class="vehicle_annual_inspection-spare_wheel-caption field-caption-tv">Spare Wheel:</dt>
					<dd id="vehicle_annual_inspection-spare_wheel-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-spare_wheel"><%%VALUE(spare_wheel)%%></dd>

					<dt class="vehicle_annual_inspection-jack-caption field-caption-tv">Jack:</dt>
					<dd id="vehicle_annual_inspection-jack-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-jack"><%%VALUE(jack)%%></dd>

					<dt class="vehicle_annual_inspection-radio-caption field-caption-tv">Radio:</dt>
					<dd id="vehicle_annual_inspection-radio-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-radio"><%%VALUE(radio)%%></dd>

					<dt class="vehicle_annual_inspection-triangle-caption field-caption-tv">Tri-Angle:</dt>
					<dd id="vehicle_annual_inspection-triangle-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-triangle"><%%VALUE(triangle)%%></dd>

					<dt class="vehicle_annual_inspection-log_book-caption field-caption-tv">Log Book:</dt>
					<dd id="vehicle_annual_inspection-log_book-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-log_book"><%%VALUE(log_book)%%></dd>

					<dt class="vehicle_annual_inspection-iternary-caption field-caption-tv">Iternary:</dt>
					<dd id="vehicle_annual_inspection-iternary-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-iternary"><%%VALUE(iternary)%%></dd>

					<dt class="vehicle_annual_inspection-fuel_card-caption field-caption-tv">Fuel Card:</dt>
					<dd id="vehicle_annual_inspection-fuel_card-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-fuel_card"><%%VALUE(fuel_card)%%></dd>

					<dt class="vehicle_annual_inspection-recommendation-caption field-caption-tv">Remarks / Recommendation:</dt>
					<dd id="vehicle_annual_inspection-recommendation-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-recommendation"><%%VALUE(recommendation)%%></dd>

					<dt class="vehicle_annual_inspection-documents-caption field-caption-tv">Documents:</dt>
					<dd id="vehicle_annual_inspection-documents-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-documents"><a href="link.php?t=vehicle_annual_inspection&f=documents&i=<%%VALUE(fleet_asset_id)%%>" target="_blank" title="<%%VALUE(documents)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></dd>

					<dt class="vehicle_annual_inspection-checking_officer_name_and_surname-caption field-caption-tv">Checking Officer:</dt>
					<dd id="vehicle_annual_inspection-checking_officer_name_and_surname-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-checking_officer_name_and_surname"><%%VALUE(checking_officer_name_and_surname)%%></dd>

					<dt class="vehicle_annual_inspection-checking_officer_contact_email-caption field-caption-tv">Checking Officer Contact  Email:</dt>
					<dd id="vehicle_annual_inspection-checking_officer_contact_email-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-checking_officer_contact_email"><a href="mailto:<%%VALUE(checking_officer_contact_email)%%>" title="<%%VALUE(checking_officer_contact_email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></dd>

					<dt class="vehicle_annual_inspection-date_of_inspection-caption field-caption-tv">Date of Inspection:</dt>
					<dd id="vehicle_annual_inspection-date_of_inspection-<%%VALUE(fleet_asset_id)%%>" class="vehicle_annual_inspection-date_of_inspection"><%%VALUE(date_of_inspection)%%></dd>

				</dl>
			</div>
		</td>
		<script>$j(function() {
			var e_documents = '<%%VALUE(documents)%%>'; if(e_documents == '' || e_documents == '&nbsp;') $j(/*<*/ '#vehicle_annual_inspection-documents-<%%VALUE(fleet_asset_id)%%>' /*>*/).html('');
		});</script>
