<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Vehicle Payment ID: -->
		<div class="form-group vehicle_payments-vehicle_payment_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vehicle Payment ID:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(vehicle_payment_id)%%></div>
			</div>
		</div>
		<!-- Field: Registration Number: -->
		<div class="form-group vehicle_payments-vehicle_registration_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Registration Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vehicle_registration_number<%%RND1%%>"><%%COMBOTEXT(vehicle_registration_number)%%></span></div>
			</div>
		</div>
		<!-- Field: Engine Number: -->
		<div class="form-group vehicle_payments-engine_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Engine Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="engine_number<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Chassis Number: -->
		<div class="form-group vehicle_payments-chassis_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Chassis Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="chassis_number<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Make of Vehicle: -->
		<div class="form-group vehicle_payments-make_of_vehicle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Make of Vehicle:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="make_of_vehicle<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Model of Vehicle: -->
		<div class="form-group vehicle_payments-model_of_vehicle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Model of Vehicle:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="model_of_vehicle<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Year Model of Vehicle: -->
		<div class="form-group vehicle_payments-year_model_of_vehicle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Year Model of Vehicle:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="year_model_of_vehicle<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Type of Vehicle: -->
		<div class="form-group vehicle_payments-type_of_vehicle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Type of Vehicle:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="type_of_vehicle<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Application Status: -->
		<div class="form-group vehicle_payments-application_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Application Status:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="application_status<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Barcode Number: -->
		<div class="form-group vehicle_payments-barcode_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Barcode Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="barcode_number<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Purchase Price: -->
		<div class="form-group vehicle_payments-purchase_price" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purchase Price:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(purchase_price)%%></div>
			</div>
		</div>
		<!-- Field: Depreciation Value: -->
		<div class="form-group vehicle_payments-depreciation_value" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Depreciation Value:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(depreciation_value)%%></div>
			</div>
		</div>
		<!-- Field: Closing KM: -->
		<div class="form-group vehicle_payments-closing_km" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Closing KM:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="closing_km<%%RND1%%>"><%%COMBOTEXT(closing_km)%%></span></div>
			</div>
		</div>
		<!-- Field: Department: -->
		<div class="form-group vehicle_payments-department" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Department:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="department<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Acquisition Reference: -->
		<div class="form-group vehicle_payments-acquisition_reference" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Acquisition Reference:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(acquisition_reference)%%></div>
			</div>
		</div>
		<!-- Field: Date Of Acquisition: -->
		<div class="form-group vehicle_payments-date_of_acquisition" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date Of Acquisition:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_of_acquisition)%%></div>
			</div>
		</div>
		<!-- Field: Odometer At Acquisition (km): -->
		<div class="form-group vehicle_payments-odometer_at_acquisition" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Odometer At Acquisition (km):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(odometer_at_acquisition)%%></div>
			</div>
		</div>
		<!-- Field: Merchant Name: -->
		<div class="form-group vehicle_payments-merchant_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Merchant Name:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="merchant_name<%%RND1%%>"><%%COMBOTEXT(merchant_name)%%></span></div>
			</div>
		</div>
		<!-- Field: Value At Acquisition (R): -->
		<div class="form-group vehicle_payments-value_at_acquisition" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Value At Acquisition (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(value_at_acquisition)%%></div>
			</div>
		</div>
		<!-- Field: Term (Months): -->
		<div class="form-group vehicle_payments-term" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Term (Months):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(term)%%></div>
			</div>
		</div>
		<!-- Field: Month End: -->
		<div class="form-group vehicle_payments-month_end" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Month End:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(month_end)%%></div>
			</div>
		</div>
		<!-- Field: Installment Per Month (R): -->
		<div class="form-group vehicle_payments-installment_per_month" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Installment Per Month (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(installment_per_month)%%></div>
			</div>
		</div>
		<!-- Field: Payment Amount (R): -->
		<div class="form-group vehicle_payments-payment_amount" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Payment Amount (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(payment_amount)%%></div>
			</div>
		</div>
		<!-- Field: Payment Frequency:  -->
		<div class="form-group vehicle_payments-payment_frequency" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Payment Frequency: </label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(payment_frequency)%%></div>
			</div>
		</div>
		<!-- Field: Interest Rate: -->
		<div class="form-group vehicle_payments-interest_rate" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Interest Rate:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(interest_rate)%%></div>
			</div>
		</div>
		<!-- Field: Payment Reference: -->
		<div class="form-group vehicle_payments-payment_reference" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Payment Reference:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(payment_reference)%%></div>
			</div>
		</div>
		<!-- Field: Paid So Far (R): -->
		<div class="form-group vehicle_payments-paid_so_far" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Paid So Far (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(paid_so_far)%%></div>
			</div>
		</div>
		<!-- Field: Remaining Balance (R): -->
		<div class="form-group vehicle_payments-remaining_balance" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Remaining Balance (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(remaining_balance)%%></div>
			</div>
		</div>
		<!-- Field: Depreciation Since Purchase (R) : -->
		<div class="form-group vehicle_payments-depreciation_since_purchase" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Depreciation Since Purchase (R) :</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(depreciation_since_purchase)%%></div>
			</div>
		</div>
		<!-- Field: Actual Resale Value (R): -->
		<div class="form-group vehicle_payments-actual_resale_value" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Actual Resale Value (R):</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(actual_resale_value)%%></div>
			</div>
		</div>
		<!-- Field: Warranty Expires On: -->
		<div class="form-group vehicle_payments-warranty_expires_on" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Warranty Expires On:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(warranty_expires_on)%%></div>
			</div>
		</div>
		<!-- Field: Comments: -->
		<div class="form-group vehicle_payments-comments" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comments:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(comments)%%></div>
			</div>
		</div>
		<!-- Field: Documents: -->
		<div class="form-group vehicle_payments-documents" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Documents:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="documents-link" href="link.php?t=vehicle_payments&f=documents&i=<%%VALUE(vehicle_payment_id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-file" title="<%%VALUE(documents)%%>"></i></a><script>jQuery(function() { var e_documents = '<%%VALUE(documents)%%>'; if(e_documents == '' || e_documents == '&nbsp;' || e_documents == 'blank.gif') jQuery('#documents-link').hide(); });</script></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
