<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the vehicle_daily_check_list_init() hook (in hooks/vehicle_daily_check_list.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="vehicle_daily_check_list-vehicle_daily_check_list_id-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-vehicle_daily_check_list_id text-right"><%%VALUE(vehicle_daily_check_list_id)%%></td>
		<td id="vehicle_daily_check_list-inspection_certification_number-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-inspection_certification_number"><%%VALUE(inspection_certification_number)%%></td>
		<td id="vehicle_daily_check_list-vehicle_registration_number-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-vehicle_registration_number"><%%VALUE(vehicle_registration_number)%%></td>
		<td id="vehicle_daily_check_list-make_of_vehicle-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-make_of_vehicle"><%%VALUE(make_of_vehicle)%%></td>
		<td id="vehicle_daily_check_list-closing_km-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-closing_km"><%%VALUE(closing_km)%%></td>
		<td id="vehicle_daily_check_list-dashboard-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-dashboard"><%%VALUE(dashboard)%%></td>
		<td id="vehicle_daily_check_list-seats-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-seats"><%%VALUE(seats)%%></td>
		<td id="vehicle_daily_check_list-carpets-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-carpets"><%%VALUE(carpets)%%></td>
		<td id="vehicle_daily_check_list-wipers-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-wipers"><%%VALUE(wipers)%%></td>
		<td id="vehicle_daily_check_list-head_lights-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-head_lights"><%%VALUE(head_lights)%%></td>
		<td id="vehicle_daily_check_list-tail_lights-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-tail_lights"><%%VALUE(tail_lights)%%></td>
		<td id="vehicle_daily_check_list-brake_lights-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-brake_lights"><%%VALUE(brake_lights)%%></td>
		<td id="vehicle_daily_check_list-indicators-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-indicators"><%%VALUE(indicators)%%></td>
		<td id="vehicle_daily_check_list-windscreen-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-windscreen"><%%VALUE(windscreen)%%></td>
		<td id="vehicle_daily_check_list-windows-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-windows"><%%VALUE(windows)%%></td>
		<td id="vehicle_daily_check_list-mirrors-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-mirrors"><%%VALUE(mirrors)%%></td>
		<td id="vehicle_daily_check_list-wheels-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-wheels"><%%VALUE(wheels)%%></td>
		<td id="vehicle_daily_check_list-hubcaps-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-hubcaps"><%%VALUE(hubcaps)%%></td>
		<td id="vehicle_daily_check_list-sparewheel-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-sparewheel"><%%VALUE(sparewheel)%%></td>
		<td id="vehicle_daily_check_list-tools-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-tools"><%%VALUE(tools)%%></td>
		<td id="vehicle_daily_check_list-engine_oil-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-engine_oil"><%%VALUE(engine_oil)%%></td>
		<td id="vehicle_daily_check_list-power_steering_oil-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-power_steering_oil"><%%VALUE(power_steering_oil)%%></td>
		<td id="vehicle_daily_check_list-gearbox_oil-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-gearbox_oil"><%%VALUE(gearbox_oil)%%></td>
		<td id="vehicle_daily_check_list-coolant-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-coolant"><%%VALUE(coolant)%%></td>
		<td id="vehicle_daily_check_list-brake_oil-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-brake_oil"><%%VALUE(brake_oil)%%></td>
		<td id="vehicle_daily_check_list-battery-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-battery"><%%VALUE(battery)%%></td>
		<td id="vehicle_daily_check_list-brakes_front-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-brakes_front"><%%VALUE(brakes_front)%%></td>
		<td id="vehicle_daily_check_list-brakes_rear-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-brakes_rear"><%%VALUE(brakes_rear)%%></td>
		<td id="vehicle_daily_check_list-fuel_level-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-fuel_level"><%%VALUE(fuel_level)%%></td>
		<td id="vehicle_daily_check_list-vehicle_fluid_leaks-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-vehicle_fluid_leaks"><%%VALUE(vehicle_fluid_leaks)%%></td>
		<td id="vehicle_daily_check_list-note-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-note"><%%VALUE(note)%%></td>
		<td id="vehicle_daily_check_list-document_checklist_report-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-document_checklist_report"><a href="link.php?t=vehicle_daily_check_list&f=document_checklist_report&i=<%%VALUE(vehicle_daily_check_list_id)%%>" target="_blank" title="<%%VALUE(document_checklist_report)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-file text-info"></i></a></td>
		<td id="vehicle_daily_check_list-next_inspection_date-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-next_inspection_date"><%%VALUE(next_inspection_date)%%></td>
		<td id="vehicle_daily_check_list-drivers_surname-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-drivers_surname"><%%VALUE(drivers_surname)%%></td>
		<td id="vehicle_daily_check_list-drivers_persal_number-<%%VALUE(vehicle_daily_check_list_id)%%>" class="vehicle_daily_check_list-drivers_persal_number"><%%VALUE(drivers_persal_number)%%></td>
		<script>$j(function() {
			var e_document_checklist_report = '<%%VALUE(document_checklist_report)%%>'; if(e_document_checklist_report == '' || e_document_checklist_report == '&nbsp;') $j(/*<*/ '#vehicle_daily_check_list-document_checklist_report-<%%VALUE(vehicle_daily_check_list_id)%%>' /*>*/).html('');
		});</script>
