<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Withdrawal ID: -->
		<div class="form-group withdrawal_vehicle_from_operation-withdrawal_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Withdrawal ID:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(withdrawal_id)%%></div>
			</div>
		</div>
		<!-- Field: Supervisor Name & Surname: -->
		<div class="form-group withdrawal_vehicle_from_operation-supervisor_name_and_surname" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Supervisor Name & Surname:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(supervisor_name_and_surname)%%></div>
			</div>
		</div>
		<!-- Field: Supervisor Contact Details: -->
		<div class="form-group withdrawal_vehicle_from_operation-supervisor_contact_details" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Supervisor Contact Details:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(supervisor_contact_details)%%></div>
			</div>
		</div>
		<!-- Field: Supervisor Email Address: -->
		<div class="form-group withdrawal_vehicle_from_operation-supervisor_email_address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Supervisor Email Address:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(supervisor_email_address)%%></div>
			</div>
		</div>
		<!-- Field: Supervisor Signature: -->
		<div class="form-group withdrawal_vehicle_from_operation-supervisor_signature" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Supervisor Signature:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(supervisor_signature)%%></div>
			</div>
		</div>
		<!-- Field: Vehicle Registration Number: -->
		<div class="form-group withdrawal_vehicle_from_operation-vehicle_registration_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vehicle Registration Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="vehicle_registration_number<%%RND1%%>"><%%COMBOTEXT(vehicle_registration_number)%%></span></div>
			</div>
		</div>
		<!-- Field: Engine Number: -->
		<div class="form-group withdrawal_vehicle_from_operation-engine_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Engine Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="engine_number<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Make of Vehicle: -->
		<div class="form-group withdrawal_vehicle_from_operation-make_of_vehicle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Make of Vehicle:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="make_of_vehicle<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Purchased Price: -->
		<div class="form-group withdrawal_vehicle_from_operation-purchased_price" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Purchased Price:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="purchased_price<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Date Of Service: -->
		<div class="form-group withdrawal_vehicle_from_operation-date_of_service" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date Of Service:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="date_of_service<%%RND1%%>"><%%COMBOTEXT(date_of_service)%%></span></div>
			</div>
		</div>
		<!-- Field: Date Of Next Service: -->
		<div class="form-group withdrawal_vehicle_from_operation-date_of_next_service" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date Of Next Service:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="date_of_next_service<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Renewal Of License: -->
		<div class="form-group withdrawal_vehicle_from_operation-renewal_of_license" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Renewal Of License:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="renewal_of_license<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Date Of Vehicle Withdrawal: -->
		<div class="form-group withdrawal_vehicle_from_operation-date_of_vehicle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date Of Vehicle Withdrawal:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(date_of_vehicle)%%></div>
			</div>
		</div>
		<!-- Field: Description Of Vehicle Breakdown: -->
		<div class="form-group withdrawal_vehicle_from_operation-description_of_vehicle_breakdown" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Description Of Vehicle Breakdown:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(description_of_vehicle_breakdown)%%></div>
			</div>
		</div>
		<!-- Field: Tyre Inspection Report: -->
		<div class="form-group withdrawal_vehicle_from_operation-tyre_inspection_report" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tyre Inspection Report:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="tyre_inspection_report-link" href="link.php?t=withdrawal_vehicle_from_operation&f=tyre_inspection_report&i=<%%VALUE(withdrawal_id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-file" title="<%%VALUE(tyre_inspection_report)%%>"></i></a><script>jQuery(function() { var e_tyre_inspection_report = '<%%VALUE(tyre_inspection_report)%%>'; if(e_tyre_inspection_report == '' || e_tyre_inspection_report == '&nbsp;' || e_tyre_inspection_report == 'blank.gif') jQuery('#tyre_inspection_report-link').hide(); });</script></div>
			</div>
		</div>
		<!-- Field: Document Checklist Report: -->
		<div class="form-group withdrawal_vehicle_from_operation-document_checklist_report" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Document Checklist Report:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="document_checklist_report-link" href="link.php?t=withdrawal_vehicle_from_operation&f=document_checklist_report&i=<%%VALUE(withdrawal_id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-picture" title="<%%VALUE(document_checklist_report)%%>"></i></a><script>jQuery(function() { var e_document_checklist_report = '<%%VALUE(document_checklist_report)%%>'; if(e_document_checklist_report == '' || e_document_checklist_report == '&nbsp;' || e_document_checklist_report == 'blank.gif') jQuery('#document_checklist_report-link').hide(); });</script></div>
			</div>
		</div>
		<!-- Field: Compiled Technical Report: -->
		<div class="form-group withdrawal_vehicle_from_operation-compiled_technical_report" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Compiled Technical Report:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="compiled_technical_report-link" href="link.php?t=withdrawal_vehicle_from_operation&f=compiled_technical_report&i=<%%VALUE(withdrawal_id)%%>" target="_blank"><i class="glyphicon glyphicon-lg glyphicon-picture" title="<%%VALUE(compiled_technical_report)%%>"></i></a><script>jQuery(function() { var e_compiled_technical_report = '<%%VALUE(compiled_technical_report)%%>'; if(e_compiled_technical_report == '' || e_compiled_technical_report == '&nbsp;' || e_compiled_technical_report == 'blank.gif') jQuery('#compiled_technical_report-link').hide(); });</script></div>
			</div>
		</div>
		<!-- Field: District Officer Name & Surname: -->
		<div class="form-group withdrawal_vehicle_from_operation-district_officer_name_and_surname" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District Officer Name & Surname:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(district_officer_name_and_surname)%%></div>
			</div>
		</div>
		<!-- Field: District Officer Persal Number: -->
		<div class="form-group withdrawal_vehicle_from_operation-district_officer_persal_number" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District Officer Persal Number:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(district_officer_persal_number)%%></div>
			</div>
		</div>
		<!-- Field: District Officer Contacts: -->
		<div class="form-group withdrawal_vehicle_from_operation-district_officer_contacts" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District Officer Contacts:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(district_officer_contacts)%%></div>
			</div>
		</div>
		<!-- Field: District Officer Signature: -->
		<div class="form-group withdrawal_vehicle_from_operation-district_officer_signature" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District Officer Signature:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(district_officer_signature)%%></div>
			</div>
		</div>
		<!-- Field: District Officer Email Address: -->
		<div class="form-group withdrawal_vehicle_from_operation-district_officer_email_address" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">District Officer Email Address:</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(district_officer_email_address)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
